<div id="<%= dom_id idea %>">
  <p>
    <strong>思いついたフレーズ:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong>どんな時に思いついた？:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>その時の思い出写真:</strong>
    <%= image_tag(idea.picture_url, width: 200) if idea.picture? %>
  </p>

</div>
