<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Phrases Note</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">日常で、ふと思いついたフレーズを<br>記録していくページです。</p>
  </div>
</div>